@model Quince.Admin.Core.Models.Entity.EntityDisplayModel
@{
    ViewBag.Title = Model.Name + " Details";
    Layout = "~/Views/Shared/_PuperLayout.cshtml";
}
<div class="page-content">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>@Model.Name profile</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar" style="width: 250px;">
                <!-- PORTLET MAIN -->
                <div class="portlet light profile-sidebar-portlet">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        @if (string.IsNullOrEmpty(Model.Image))
                        {
                            <img src="~/Content/Dashboard/assets/admin/img/generic-avatar.png" class="img-responsive" alt="" />
                        }
                        else
                        {
                            <img src="~/Content/Dashboard/assets/admin/img/@Model.Image" class="img-responsive" alt="" />
                        }

                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            @Model.Name
                        </div>
                        <div class="profile-usertitle-job">
                            @Model.Type
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
                        <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="extra_profile.html">
                                    <i class="icon-home"></i>
                                    Overview
                                </a>
                            </li>
                            @*<li>
                                    <a href="extra_profile_account.html">
                                        <i class="icon-settings"></i>
                                        Account Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="page_todo.html" target="_blank">
                                        <i class="icon-check"></i>
                                        Tasks
                                    </a>
                                </li>
                                <li>
                                    <a href="extra_profile_help.html">
                                        <i class="icon-info"></i>
                                        Help
                                    </a>
                                </li>*@
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
                <!-- END PORTLET MAIN -->
                <!-- PORTLET MAIN -->
                @*<div class="portlet light">
                        <!-- STAT -->
                        <div class="row list-separated profile-stat">
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="uppercase profile-stat-title">
                                    37
                                </div>
                                <div class="uppercase profile-stat-text">
                                    Projects
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="uppercase profile-stat-title">
                                    51
                                </div>
                                <div class="uppercase profile-stat-text">
                                    Tasks
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="uppercase profile-stat-title">
                                    61
                                </div>
                                <div class="uppercase profile-stat-text">
                                    Uploads
                                </div>
                            </div>
                        </div>
                        <!-- END STAT -->
                        <div>
                            <h4 class="profile-desc-title">About Marcus Doe</h4>
                            <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
                            <div class="margin-top-20 profile-desc-link">
                                <i class="fa fa-globe"></i>
                                <a href="http://www.keenthemes.com">www.keenthemes.com</a>
                            </div>
                            <div class="margin-top-20 profile-desc-link">
                                <i class="fa fa-twitter"></i>
                                <a href="http://www.twitter.com/keenthemes/">@@keenthemes</a>
                            </div>
                            <div class="margin-top-20 profile-desc-link">
                                <i class="fa fa-facebook"></i>
                                <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
                            </div>
                        </div>
                    </div>*@
                <!-- END PORTLET MAIN -->
            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">

                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PORTLET -->
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption caption-md">
                                    <i class="icon-bar-chart theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Overview</span>
                                </div>

                            </div>
                            <div class="portlet-body">
                                <div class="row number-stats margin-bottom-30">
                                    <div class="col-md-12">
                                        @foreach (var relationType in Model.RelationTypes)
                                        {
                                            <div class="stat-right">
                                                <div class="stat-chart">
                                                    <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                                    <div id="sparkline_bar"><canvas width="90" height="45" style="display: inline-block; width: 90px; height: 45px; vertical-align: top;"></canvas></div>
                                                </div>
                                                <div class="stat-number">
                                                    <div class="title">
                                                        @relationType.Name
                                                    </div>
                                                    <div class="number">
                                                        @relationType.Relations.Sum(r => r.Entities.Count())
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="table-scrollable table-scrollable-borderless">
                                    <div>
                                        @Html.Raw(Model.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @foreach (var relationType in Model.RelationTypes)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN PORTLET -->
                                    <div class="portlet light ">
                                        <div class="portlet-title">
                                            <div class="caption caption-md">
                                                <i class="icon-bar-chart theme-font hide"></i>
                                                <span class="caption-subject font-blue-madison bold uppercase">@relationType.Name</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="general-item-list">
                                                @foreach (var relation in relationType.Relations)
                                                {
                                                    foreach (var entity in relation.Entities)
                                                    {
                                                        <div class="item">
                                                            <div class="item-head">
                                                                <div class="item-details">
                                                                    @*<img class="item-pic" src="../../assets/admin/layout3/img/avatar4.jpg">*@
                                                                    <a href="@Url.Action("Details", "Entity", new { id=entity.Id})" class="item-name primary-link">@entity.Name</a>
                                                                    <span class="item-label">@entity.Type</span>
                                                                </div>
                                                            </div>
                                                            @if (relation.Attributes.Any())
                                                            {

                                                                <div class="item-body">
                                                                    @foreach (var attribute in relation.Attributes)
                                                                    {
                                                                        <span class="item-label">@attribute.Name</span> <text>:</text> <span class="item-label">@attribute.Value</span>
                                                                    }
                                                                </div>
                                                            }


                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END PORTLET -->
                                </div>

                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        @if (Model.References.Any())
                        {<div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN PORTLET -->
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="caption caption-md">
                                            <i class="icon-bar-chart theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">References</span>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="general-item-list">
                                            <ul class="feeds">
                                                @foreach (var reference in Model.References)
                                                {
                                                    <li>
                                                        <a href="@(reference.Link??reference.Document)" target="_blank">
                                                            <div class="col1">
                                                                <div class="cont">
                                                                    <div class="cont-col1">
                                                                        <div class="label label-sm label-success">
                                                                            @if (!string.IsNullOrEmpty(reference.Link))
                                                                            {
                                                                                <i class="icon-link"></i>
                                                                            }
                                                                            else
                                                                            {
                                                                                <i class="icon-doc"></i>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                    <div class="cont-col2">
                                                                        <div class="desc">
                                                                            @(reference.Title ?? reference.Link ?? reference.Link)
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>