       <!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">
        <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="first ">
                <a href="javascript:;">
                    <i class="fa fa-database"></i>
                    <span class="title">Database</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Entities", "Puper")" class="quince-link" data-target="tab" data-text="Users">
                            <i class="icon-user"></i>
                            Entities
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Relations", "Puper")" class="quince-link" data-target="tab" data-text="Users">
                            <i class="icon-share"></i>
                            Relations
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("EntityTypes", "Puper")" class="quince-link" data-target="tab" data-text="Users">
                            <i class="icon-users"></i>
                            Entity Types
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("RelationTypes", "Puper")" class="quince-link" data-target="tab" data-text="Users">
                            <i class="icon-share-alt"></i>
                            Relation Types
                        </a>
                    </li>

                </ul>
            </li>
            <li class="last ">
                <a href="javascript:;">
                    <i class="icon-settings"></i>
                    <span class="title">System</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index", "Users")" class="quince-link" data-target="tab" data-text="Users">
                            <i class="icon-users"></i>
                            Users
                        </a>
                    </li>
                    @*<li>
                        <a href="@Url.Action("Roles", "Users")" class="quince-link" data-target="modal">
                            <i class="icon-user-following"></i>
                           Roles
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logins", "Users")" class="quince-link" data-target="tab">
                            <i class="icon-user-follow"></i>
                            Users logins
                        </a>
                    </li>*@
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
